:root {
    --linkedin-background: #0D5CBA;
    --github-background: #181616;
    --dribbble-background: #C72263;
}

#contactWrapper {
    flex-direction: row;
    display: flex;
    padding-top: 100px;
    padding-bottom: 200px;
    width: 100%;
}

#contactInfo {
    width: 50%;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#otherContact {
    flex-direction: row;
    display: flex;
    width: 50%;
    padding-top: 50px;
}

#otherContact {
    flex-direction: row;
    display: flex;
    padding-top: 50px;
}

.quickLinkWidget {
    width: 95px;
    height: 95px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    aspect-ratio: 1/1;
}

.quickLinkWidget>svg {
    width: 38px;
    height: 38px;
    display: block;
    fill: var(--white);
}

#quickLinkWidgetLinkedIn {
    background-color: var(--linkedin-background);
    cursor: pointer;
    margin: 6px;
}

#quickLinkWidgetGitHub {
    background-color: var(--github-background);
    margin: 6px;
    cursor: pointer;
}

#quickLinkWidgetDribbble {
    background-color: var(--dribbble-background);
    margin: 6px;
    cursor: pointer;
}

#contactTitle {
    font-size: 64px;
    display: inline-block;
}

#typewritterText {
    font-size: 5dvw;
}

#typewritterCursor {
    display: inline-block;
    color: var(--secondary);
    font-size: 6dvw;
    animation: blink 0.8s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#contactFormWrapper {
    width: 50%;
    margin-right: 100px;
}

.contactFormInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.contactFormInput {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    margin: 10px 0px;
    background-color: var(--background-L2);
    align-items: start;
    display: flex;
    padding: 10px 20px;
    border: none;
}

#contactFormMessage {
    display: none;
}

#contactFormMultilineMessageInput {
    height: 200px;
    min-height: 200px;
    white-space: pre-line;
    overflow-y: scroll;
    overflow-x: auto;
    resize: vertical;
    padding-top: 20px
}

#contactFormSubmit {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
}

#contactFormSubmitInput {
    background-color: var(--background-L1);
    border: none;
    padding: 20px;
    font-size: 24px;
    opacity: 100%;
}

#sendArrow {
    width: 40px;
    height: 40px;
    fill: var(--secondary);
}

input {
    color: var(--secondary);
    font-size: 16px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 500;
}


textarea {
    overflow-y: scroll;
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1024px) {
    #contactWrapper {
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    #contactInfo {
        width: 100%;
        max-width: none;
        margin: 0;
    }

    #contactFormWrapper {
        width: 80dvw;
        margin-right: 0px;
        margin-top: 50px;
        align-self: start;
    }

    #contactTitle {
        font-size: 48px;
    }

    #typewritterText {
        font-size: 6dvw;
    }

    #typewritterCursor {
        font-size: 6dvw;
    }

    .quickLinkWidget {
        width: 75px;
        height: 75px;
    }

    .quickLinkWidget>svg {
        width: 30px;
        height: 30px;
    }

    #contactFormMultilineMessageInput {
        height: 150px;
        min-height: 150px;
    }

    #contactFormSubmitInput {
        padding: 10px;
        font-size: 24px;
    }

    #sendArrow {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 700px) {
    #typewritterText {
        font-size: 46px;
    }
}