body {
  cursor: none;
}

@media (pointer: coarse) {
  #cursor {
    display: none;
    /* Hide on touch */
  }
}

/* Media query for mouse input */
@media (pointer: fine) {
  #cursor {
    display: block;
    /* Show on mouse */
  }
}

.Cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  transform-origin: center center;
  top: 0;
  left: 0;
  z-index: 99998;
  opacity: 1;
  filter: url("#goo");
  mix-blend-mode: difference;
  transition: opacity 0.2s ease-in-out;
}

.Cursor span {
  position: absolute;
  opacity: 1;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background-color: var(--white);
  transform-origin: center center;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .Cursor {
    display: none;
  }
}

#cursorContent {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

#cursorContent>svg {
  display: none;
}

#cursor.inactive {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.CursorViewAll {
  position: fixed;
  display: none;
  background-color: #f0f0f0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  pointer-events: none;
  z-index: 9999;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.5s ease-in-out;
}

#viewAllText {
  display: flex;
  margin: 0;
  padding: 0;
}