.darkTheme {

    --games-widget-background: #c0fccd;
    --games-widget-text: #19261C;
    --tools-widget-background: #FDFFB6;
    --tools-widget-text: #25251A;
    --projects-widget-background: #A0E2FF;
    --projects-widget-text: #1E282D;
    --contact-widget-background: #FFADAD;
    --contact-widget-text: #231919;

    --linkedin-background: #0a66c2;
    --linkedin-background-hover: #0a5abf;
    --linkedin-text: #f9f9f9;

    --github-background: #25292f;
    --github-background-hover: #1e2228;
    --github-text: #ffffff;

    --dribbble-background: #F483AB;
    --dribbble-background-hover: #e26f9e;
}

:root {
    --games-widget-background: #c0fccd;
    --games-widget-background-hover: #a3cea3;
    --games-widget-text: #19261C;
    --tools-widget-background: #FDFFB6;
    --tools-widget-text: #25251A;
    --projects-widget-background: #A0E2FF;
    --projects-widget-text: #1E282D;
    --contact-widget-background: #FFADAD;
    --contact-widget-text: #231919;

    --linkedin-background: #0a66c2;
    --linkedin-background-hover: #0a5abf;
    --linkedin-text: #f9f9f9;

    --github-background: #25292f;
    --github-background-hover: #1e2228;
    --github-text: #ffffff;

    --dribbble-background: #F483AB;
    --dribbble-background-hover: #e26f9e;

}


/* Main Content */

/* Hero */

/*Desktop Only*/

@media screen and (min-width: 1024px) {
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mainContainer {
        width: 980px;
    }

    #homepageHeroContainer {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    #homepageHeroTextHero {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 20px;
    }

    #homepageHeroTextHero>h1 {
        font-size: 96px;
        line-height: 0px;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        color: var(--font-layer1);
        text-align: right;
        width: 100%;
    }

    #homepageHeroTextHero>h2 {
        font-size: 42px;
        line-height: 0px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: var(--font-layer1);
        text-align: right;
        width: 100%;
        margin-top: 10px;
    }

    #homepageHeroTextHero>p {
        font-size: 18px;
        line-height: 22px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        color: var(--font-layer1);
        text-align: right;
        width: 100%;
        margin-top: 30px;
    }

    #homepageHeroImageContainer {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    #homepageHeroImage {
        border-radius: var(--radius-layer2);
        object-fit: cover;
        width: 100%;
        height: 450px;
        image-rendering: auto
    }

}

/* Tablet Only */

@media screen and (max-width: 1023px) and (min-width: 600px) {
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mainContainer {
        width: 720px;
    }

    #homepageHeroContainer {
        margin-top: 65px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        justify-items: center;
    }

    #homepageHeroTextHero {
        width: 40dvw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin: 20px;
        margin-right: 30px;
    }

    #homepageHeroTextHero>h1 {
        font-size: 56px;
        line-height: 0px;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        color: var(--font-layer1);
        text-align: right;
        width: 100%;
        align-self: flex-end;
    }

    #homepageHeroTextHero>h2 {
        font-size: 24px;
        line-height: 0px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: var(--font-layer1);
        text-align: right;
        width: 100%;
        margin-top: 10px;
    }

    #homepageHeroTextHero>p {
        font-size: 14px;
        line-height: 20px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        color: var(--font-layer1);
        text-align: right;
        width: 100%;
        margin-top: 30px;
    }

    #homepageHeroImageContainer {
        max-width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    #homepageHeroImage {
        border-radius: var(--radius-layer2);
        object-fit: cover;
        max-width: 280px;
        width: 30dvw;
        height: 280px;
        image-rendering: auto
    }
}

/* Mobile Only */

@media screen and (max-width: 599px) {
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mainContainer {
        width: 80%;
    }

    #homepageHeroContainer {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    #homepageHeroTextHero {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 20px;
        margin-bottom: 20;
    }

    #homepageHeroTextHero>h1 {
        font-size: 15dvw;
        line-height: 0px;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        color: var(--font-layer1);
        text-align: right;
        width: 100%;
    }

    #homepageHeroTextHero>h2 {
        font-size: 7dvw;
        line-height: 0px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: var(--font-layer1);
        text-align: right;
        width: 100%;
        margin-top: 10px;
    }

    #homepageHeroTextHero>p {
        font-size: 16px;
        line-height: 20px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        color: var(--font-layer1);
        text-align: right;
        width: 100%;
        margin-top: 30px;
    }

    #homepageHeroImageContainer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #homepageHeroImage {
        border-radius: var(--radius-layer2);
        object-fit: cover;
        width: 100%;
        height: 250px;
        max-height: 40dvh;
        image-rendering: auto;
    }


}

/* Grid */

/* Asign Grid Areas */

.WidgetContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: start;
}

.SocialWidgetContainer:hover {
    /*Change pointer to pointer*/
    cursor: pointer;
}

section#WidgetGamesContainer {
    grid-area: WidgetGames;
    background-color: var(--games-widget-background);
    border-radius: var(--radius-layer2);
}

section#WidgetLinkedInContainer {
    grid-area: WidgetLinkedIn;
    background-color: var(--linkedin-background);
    border-radius: var(--radius-layer2);
}

section#WidgetLinkedInContainer:hover {
    background-color: var(--linkedin-background-hover);
    transition: all 0.3s ease;
}

section#WidgetMapContainer {
    grid-area: WidgetMap;
    background-image: url("../assets/images/homepage/maps-image.png");
    background-size: cover;
    background-position: center;
    border-radius: var(--radius-layer2);
    transition: all 0.3s ease;
}

section#WidgetGithubContianer {
    grid-area: WidgetGithub;
    background-color: var(--github-background);
    border-radius: var(--radius-layer2);
    transition: all 0.3s ease;
}

section#WidgetGithubContianer:hover {
    background-color: var(--github-background-hover);
    transition: all 0.3s ease;
}

section#WidgetToolsContainer {
    grid-area: WidgetTools;
    background-color: var(--tools-widget-background);
    border-radius: var(--radius-layer2);
    transition: all 0.3s ease;
}

section#WidgetProjectsContainer {
    grid-area: WidgetProjects;
    background-color: var(--projects-widget-background);
    border-radius: var(--radius-layer2);
    transition: all 0.3s ease;
}

section#WidgetContactContainer {
    grid-area: WidgetContact;
    background-color: var(--contact-widget-background);
    border-radius: var(--radius-layer2);
    transition: all 0.3s ease;
}

section#WidgetDribbbleContainer {
    grid-area: WidgetDribbble;
    background-color: var(--dribbble-background);
    border-radius: var(--radius-layer2);
    transition: all 0.3s ease;
}

section#WidgetDribbbleContainer:hover {
    background-color: var(--dribbble-background-hover);
    transition: all 0.3s ease;
}

/* Grid Container */

.WidgetSubContainer {
    display: flex;
}

/* Direct Arrows */

.WidgetRedirect>svg,
.WidgetPageDirect>svg {
    fill: var(--font-layer2);
    width: 18px;
    height: 18px;
}

.WidgetRedirect,
.WidgetPageDirect {
    background-color: var(--background-layer2);
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.05s ease-in-out;
    margin-bottom: -40px;
    margin-right: 10px;
}

.WidgetRedirect:hover,
.WidgetPageDirect:hover {
    background-color: var(--background-layer3);
    transition: background-color 0.05s ease-in-out;
}

.WidgetRedirect>svg {
    margin-top: -2px;
}

.WidgetPageDirectContainer,
.WidgetRedirectContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Widget Content */

.WidgetTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.TitleIcon>svg {
    width: 32px;
    height: 32px;
    padding-right: 10px;
}

.TitleText {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

#WidgetGamesTitleIcon>svg {
    fill: var(--games-widget-text)
}

#WidgetGamesTitleText {
    color: var(--games-widget-text);
}

#WidgetToolsTitleIcon>svg {
    fill: var(--tools-widget-text);
}

#WidgetToolsTitleText {
    color: var(--tools-widget-text);

}

#WidgetProjectsTitleIcon>svg {
    fill: var(--projects-widget-text)
}

#WidgetProjectsTitleText {
    color: var(--projects-widget-text);
}


#WidgetContactTitleIcon>svg {
    fill: var(--contact-widget-text);
}

#WidgetContactTitleText {
    color: var(--contact-widget-text);
}



@media screen and (min-width: 600px) {

    .WidgetIcon {
        width: 72px;
        height: 72px;
        transition: scale 0.1s ease-in;
    }

    /* Games */

    #WidgetGames {
        justify-content: start;
        flex-direction: column;
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 60px;
    }

    #GamesImageContainer {
        height: 100%;
        align-items: center;
        display: flex;
        margin-top: -40px;
    }

    #GamesImage {
        display: flex;
        height: 100%;
        width: 100%;
        align-self: flex-end;
        background-image: url("../assets/images/homepage/games.png");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: left;
    }

    /* LinkedIn */

    #WidgetLinkedIn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

    }

    #WidgetLinkedInIcon {
        filter: invert();
    }

    #WidgetLinkedIn:hover #WidgetLinkedInIcon {
        scale: 0.9;
        transition: scale 0.2s ease-out;
    }

    /* Map */

    #WavingPersonImg {
        width: auto;
        height: 140px;
        margin-top: -40px;
    }

    #WidgetMap {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    /* Github */

    #WidgetGithub {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #WidgetGithubIcon {
        filter: invert();
    }

    #WidgetGithub:hover #WidgetGithubIcon {
        scale: 0.9;
        transition: scale 0.2s ease-out;
    }

    /* Tools */

    #WidgetTools {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        height: 100%;
    }

    #WidgetToolsTitle {
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ToolsImageContainer {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
    }

    #ToolsImage {
        display: flex;
        height: 100%;
        width: 100%;
        align-self: auto;
        background-image: url("../assets/images/homepage/tools.png");
        background-size: 500px auto;
        background-repeat: no-repeat;
    }

    /* Projects */

    #WidgetProjects {
        justify-content: start;
        flex-direction: column;
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 60px;
    }

    #ProjectsImageContainer {
        height: 100%;
        align-items: flex-end;
        display: flex;
        margin-bottom: -10px;

    }

    #ProjectsImage {
        display: flex;
        height: 100%;
        width: 100%;
        align-self: flex-end;
        background-image: url("../assets/images/homepage/projects.png");
        background-size: 450px auto;
        background-repeat: no-repeat;
        background-position: right;
    }

    /* Contact */

    #WidgetContact {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        height: 100%;
    }

    #WidgetContactTitle {
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ContactImageContainer {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
    }

    #ContactImage {
        display: flex;
        height: 100%;
        width: 100%;
        align-self: flex-end;
        background-image: url("../assets/images/homepage/calendar.png");
        background-size: auto 334px;
        background-repeat: no-repeat;
    }

    /* Dribbble */

    #WidgetDribbble {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #WidgetDribbble:hover #WidgetDribbbleIcon {
        scale: 0.9;
        transition: scale 0.2s ease-out;
    }

}

@media screen and (min-width: 1024px) {
    #homepageGrid {
        display: grid;
        width: 980px;
        grid-template-areas:
            "WidgetGames WidgetLinkedIn WidgetMap WidgetGithub"
            "WidgetGames WidgetTools WidgetTools WidgetProjects"
            "WidgetContact WidgetContact WidgetDribbble WidgetProjects";
        transition: all 0.3s ease;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 230px);
        grid-template-rows: repeat(3, 230px);
        margin-top: 110px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 860px) {
    #homepageGrid {
        grid-template-areas:
            "WidgetLinkedIn WidgetMap WidgetProjects"
            "WidgetTools WidgetTools WidgetProjects"
            "WidgetGames WidgetContact WidgetContact"
            "WidgetGames WidgetDribbble WidgetGithub";
        transition: all 0.3s ease;
        display: grid;
        width: 730px;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 230px);
        grid-template-rows: repeat(4, 230px);
        margin-top: 80px;
        margin-bottom: 60px;
    }

    #ExpandedToolsContainerWrapper {
        right: 0;
        margin-right: -130px;
    }

}

@media screen and (max-width: 859px) and (min-width: 600px) {
    #homepageGrid {
        grid-template-areas:
            "WidgetLinkedIn WidgetMap"
            "WidgetTools WidgetTools"
            "WidgetGames WidgetProjects"
            "WidgetGames WidgetProjects"
            "WidgetContact WidgetContact"
            "WidgetDribbble WidgetGithub";
        transition: all 0.3s ease;

        display: grid;
        width: 480px;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 230px);
        grid-template-rows: repeat(6, 230px);
        margin-top: 80px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    #ExpandedToolsContainerWrapper {
        right: 0;
        justify-content: center;
    }

}



@media screen and (max-width: 599px) {
    #homepageGrid {
        grid-template-areas: "WidgetMap WidgetMap WidgetMap"
            "WidgetTools WidgetTools WidgetTools"
            "WidgetGames WidgetGames WidgetGames"
            "WidgetProjects WidgetProjects WidgetProjects"
            "WidgetContact WidgetContact WidgetContact"
            "WidgetGithub WidgetLinkedIn WidgetDribbble";
        transition: all 0.3s ease;
        grid-template-columns: repeat(3, 25dvw);
        grid-template-rows: repeat(6, 50dvw);
        grid-gap: 10px;
        margin-top: 30px;
        margin-bottom: 60px;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .WidgetSubContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: end;
    }

    .SocialWidgetContainer {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .WidgetIcon {
        width: 40px;
        height: 40px;
    }

    .SocialWidget {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #WidgetGithubIcon,
    #WidgetLinkedInIcon {
        filter: invert(100%);
    }

    .SocialWidgetContainer>.WidgetRedirectContainer {
        display: none;
        visibility: hidden;
    }

    #WidgetMap {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #WidgetMapContainer {
        height: 60%;
        align-self: end;
    }

    #WavingPersonImg {
        height: 40vw;
        margin-top: -100px;
    }

    .WidgetTitle {
        margin-bottom: 10px;
        padding-top: 30px;
    }

    .WidgetImageContainer {
        height: 70%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .WidgetImage {
        display: flex;
        height: 100%;
        width: 100%;
        align-self: auto;
        background-position: top;
        background-size: 80% auto;
        background-repeat: no-repeat;
    }

    #ToolsImage {
        background-image: url("../assets/images/homepage/tools.png");
    }

    #GamesImage {
        background-image: url("../assets/images/homepage/games.png");
    }

    #ProjectsImage {
        background-image: url("../assets/images/homepage/projects.png");
    }

    #ContactImage {
        background-image: url("../assets/images/homepage/calendar.png");
    }
}