#themeSwitchContainerWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
}

#themeSwitchContainer {
    background-color: var(--background-layer3);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
}

#themeSwitchContainer>div>svg>path {
    fill: var(--font-layer1);
}

#themeSwitchContainer>div>svg {
    height: 24px;
    width: 24px;
}

#themeSwitchContainer>div {
    align-items: center;
    justify-content: center;
    display: flex;
}

#themeSwitchContainer.active>#DarkModeIcon,
#themeSwitchContainer:not(active)>#LightModeIcon {
    scale: 0;
    opacity: 0;
    transition: all 0.5s ease;
}

#themeSwitchContainer:not(active)>#DarkModeIcon {
    margin-right: -23px;
}

#themeSwitchContainer.active>#DarkModeIcon {
    margin-right: 0px;
}

#themeSwitchContainer.active>#LightModeIcon {
    margin-left: -23px;
    transform: rotate(90deg);
}

#themeSwitchContainer:not(active)>#LightModeIcon {
    margin-left: 0px;
}

#themeSwitchContainer.active>#LightModeIcon,
#themeSwitchContainer:not(active)>#DarkModeIcon {
    display: flex;
    scale: 1;
    opacity: 1;
    transition: all 0.5s ease;
}

#themeToggle {
    all: unset;
    cursor: pointer;
    align-self: center;
}

#themeToggle:focus {
    outline: revert;
}