.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#FourOhFourContainer {
    width: 100dvw;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#FourOhFourHeadline {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#FourOhFourHeadline>span {
    font-size: 10rem;
    font-weight: 700;
    color: var(--font-layer1);
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#flicker.active {
    opacity: 0.2;
}


#FourOhFourDescription {
    font-size: 16px;
    font-weight: 400;
    color: var(--font-layer2);
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

#FourOhFourPS {
    font-size: 12px;
    font-weight: 400;
    color: var(--font-layer5);
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
}