#mainContainer{
    width: 980px;
}

#projectshero{
    height: 50dvh;
    align-items: center;
    justify-content: end;
    display: flex;
}

#projectsheroimage{
    width: 70dvw;
    height: 70dvw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: -35dvh;
    margin-left: -20dvw;
}

#projectsheroimage>path{
    fill: var(--font-layer1);
    opacity: 0.2;
}

#projectsTitle{
    font-size: 5rem;
    font-weight: 700;
    color: var(--font-layer1);
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    text-align: end;
    width: 100%;
}

#ProjectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers horizontally */
    align-items: flex-start; /* Aligns to the top */
  }

 .StickyBlock{
    position: sticky;
    top: 20%;
 } 
  



.ProjectBlockDetailedContainer{
    display: flex;
    width: 900px;
    height: 450px;
    background-color: var(--background-layer2);
    border-radius: var(--radius-layer2);
    align-items: start;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 60px;
    border: 1px solid var(--background-layer3);
}

.ProjectInfo {
    height: 100%;
    width: 250px;
    padding-right: 60px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.ProjectMainContent{
    justify-content: space-around;
    flex-direction: column;
    display: flex;
}

.ProjectLogo{
    height: 80px;
    width: auto;
    margin-top: 20px;
}

#AllEatLogo, #KatSullivanLogo, #PassagetopoiseLogo, #CPURLogo{
    border-radius: var(--radius-layer3);
}

.ProjectTitle{
    font-size: 32px;
    font-weight: 700;
    color: var(--font-layer1);
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    text-align: start;
    width: 100%;
    padding-top: 30px;
}

.ProjectCategory{
    font-size: 16px;
    font-weight: 600;
    color: var(--font-layer2);
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    text-align: start;
    padding-top: 10px;
}

.ProjectDescription{
    font-size: 14px;
    font-weight: 400;
    color: var(--font-layer3);
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    text-align: start;
    padding-top: 35px;
}

.ReadMoreButton, .ComingSoonButton{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--background-layer3);
    border-radius: var(--radius-layer3);
    height: auto;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    
}

.ReadMoreButton{
    width: 110px;
}

.ComingSoonButton{
    width: 120px;
}

.ReadMoreButtonText, .ComingSoonButtonText{
    font-size: 14px;
    font-weight: 600;
    color: var(--font-layer2);
    font-family: 'Inter', sans-serif;
    text-align: start;
    padding-top: 2px;
}

.ComingSoonButtonText, .ComingSoonButton>svg>path{
    opacity: 0.2;
}

.ReadMoreButton>svg>path, .ComingSoonButton>svg>path{
    fill: var(--font-layer1);
}

.ReadMoreButton:hover, .ComingSoonButton:hover{
    background-color: var(--background-layer4);
}

.ReadMoreButton:hover>svg>path, .ComingSoonButton:hover>svg>path{
    fill: var(--font-layer2);
}

.ReadMoreButton:hover>svg{
    transform: translateX(5px);
    transition: all 0.2s ease-in-out;
}

.ReadMoreButton>svg, .ComingSoonButton>svg{
    width: 20px;
    height: 20px;
    transition: all 0.2s ease-out;
}

.ProjectInfo>a{
    text-decoration: none;
}

.ProjectImage{
    display: flex;
    width: 650px;
    height: 100%;
    border-radius: var(--radius-layer3);
}

.ProjectImage>img{
    max-height: 380px;
    max-width: 380px;
    width: auto;
    margin-right: -100px;
}

#ThirtyDaysOfUIImage{
    align-items: end;
    justify-content: center;
    background: linear-gradient(270deg, #FDE5B5 0%, #FDE5B5 80%, rgba(205, 181, 253, 0.00) 100%);
}

#AllEatImage{
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #CDB5FD 0%, #CDB5FD 80%, rgba(205, 181, 253, 0.00) 100%);
}

#KatSullivanImage{
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #FFC19D 0%, #FFC19D 80%, rgba(205, 181, 253, 0.00) 100%);
}

#PassagetopoiseImage{
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #C3FB7C 0%, #C3FB7C 80%, rgba(205, 181, 253, 0.00) 100%);
}

#CPURImage{
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #FF819E 0%, #FF819E 80%, rgba(205, 181, 253, 0.00) 100%);
}

#CPURImage>img{
    max-height: 340px;
    max-width: 340px;
    width: auto;
    margin-right: -100px;
}

#EndProjectsBlock{
    width: 100%;
    margin-bottom: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#EndProjectsBlockContainer{
    width: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--background-layer2);
    border-radius: var(--radius-layer3);
    align-items: center;
}

#EndProjectsBlockText{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--font-layer3);
    font-family: 'Inter', sans-serif;
}